---
---
<footer class="foot"><div class="foot__in">
  <small>© 2026 Matt Bachmann · Medford, MA</small>
  <div class="foot__links">
    <a class="tlink" href="https://github.com/Bachmann1234">GitHub</a>
    <a class="tlink" href="https://bsky.app/profile/mattbachmann.dev">Bluesky</a>
  </div>
</div></footer>
